.button{
    color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 10px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    

}